.hero{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: var(--color-brown);
}

.hero_wrapper {
  display: flex;
  max-width: 1600px;
}

.hero_wrapper_infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 40px;
  color: var(--color-white);
}

.hero_wrapper_infos div h2 {
  font-size: 15rem;
  font-weight: 600;
  font-style: normal;
  line-height: 12rem;
  display: inline;
}

.hero_wrapper_infos div img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.hero_wrapper_infos p {
  font-size: 2rem;
  font-weight: 400;
}

.hero_wrapper_infos button{
  padding: 25px 0;
  background-color: var(--color-yellow);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 60%;
  cursor: pointer;
  width: 40%;
}

.hero_wrapper_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
}

.hero_wrapper_spoon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
